@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&family=Lato:ital,wght@0,300;1,300&display=swap");
:root {
  --border-color:rgb(66, 164, 209);
}

body {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#fff1eb), color-stop(80%, #ace0f9), to(#4facfe));
  background-image: linear-gradient(to top right, #fff1eb 0%, #ace0f9 80%, #4facfe 100%);
}

.body {
  z-index: -1;
  position: relative;
  top: 6vh;
  font-family: 'Assistant', sans-serif;
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  margin: 20px 0 20px 0;
  height: 100vh;
  z-index: 1;
  border: 2px solid black;
}

section.PI {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 1%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.intro h1 {
  font-size: 48px;
  font-weight: 700px;
  color: rgba(52, 128, 190, 0.7);
  margin-top: 5%;
}

.intro h1 span {
  width: 100%;
  color: #276292;
  font-size: 72px;
}

.intro h3 {
  font-size: 24px;
  font-weight: 500;
}

.intro h6, .intro p {
  font-weight: 300;
  font-size: 20px;
}

.intro hr {
  width: 50%;
  height: 5px;
  background: rgba(70, 187, 241, 0.5);
  border: none;
  margin-bottom: 10px;
}

.grids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 90%;
  margin: auto;
  border: 3px solid black;
}

.grids .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: 25%;
  margin: auto auto 50px auto;
  border-radius: 5%;
}

.grids .grid h1 {
  color: white;
  margin: 10% 0 2% 0;
}

.grids .grid ul {
  height: 10vh;
  width: 70%;
  font-size: 15px;
}

.grids .grid ul li {
  margin: 10px 0 10px 0;
  color: black;
}

.grids .grid ul li a {
  text-decoration: none;
}

.grids .grid:nth-of-type(1) {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border: rgba(255, 255, 255, 0.233) solid 2px;
}

.grids .grid:nth-of-type(1) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  height: 10vh;
  width: 70%;
  margin-bottom: 30px;
  border-radius: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grids .grid:nth-of-type(1) ul li:nth-child(1) {
  background: url("./mail.svg") no-repeat left -1px;
  padding-left: 30px;
}

.grids .grid:nth-of-type(1) ul li:nth-child(2) {
  background: url("./smartphone.svg") no-repeat left -1px;
  padding-left: 30px;
}

.grids .grid:nth-of-type(1) ul li:nth-child(3) {
  background: url("./home.svg") no-repeat left -1px;
  padding-left: 30px;
}

.grids .grid:nth-of-type(1) ul li:nth-child(4) {
  background: url("./github-alt-brands.svg") no-repeat left -1px;
  padding-left: 30px;
}

.grids .grid:nth-of-type(2) {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.grids .grid:nth-of-type(2) ul li {
  list-style-type: disc;
}

.grids .grid:nth-of-type(3) {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

section.ED {
  height: 100vh;
}

section.ED .intro {
  width: 50%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 3%;
  height: 25%;
  padding: 0;
}

section.ED .intro h1 {
  text-align: center;
}

section.ED .border {
  position: relative;
  width: 100%;
  height: 100%;
}

section.ED .border .top-l {
  position: absolute;
  top: 10%;
  left: 0;
  height: 10px;
  width: 25%;
  background: var(--border-color);
}

section.ED .border .top-r {
  position: absolute;
  top: 10%;
  right: 0;
  height: 10px;
  width: 25%;
  background: var(--border-color);
}

section.ED .border .bottom-l {
  position: absolute;
  bottom: 10%;
  left: 0;
  height: 10px;
  width: 25%;
  background: var(--border-color);
}

section.ED .border .bottom-r {
  position: absolute;
  bottom: 10%;
  right: 0;
  height: 10px;
  width: 25%;
  background: var(--border-color);
}

section.ED .border .right {
  position: absolute;
  height: 80%;
  top: 10%;
  right: 0;
  width: 10px;
  background: var(--border-color);
}

section.ED .border .left {
  position: absolute;
  height: 80%;
  top: 10%;
  left: 0;
  width: 10px;
  background: var(--border-color);
}

section.PL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

section.PL .intro {
  width: 80%;
  margin: auto;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.PL .langs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  margin: 30px auto auto auto;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.PL .langs .lang-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  position: relative;
  height: 35%;
  width: 25%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.PL .langs .lang-card h3 {
  font-size: 34px;
  color: #276292;
}

section.PL .langs .lang-card .cont-card {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: -3;
  height: 100%;
  width: 100%;
  background-color: rgba(15, 43, 168, 0.2);
}

section.PL .langs .lang-card .cont-card ul {
  opacity: 0.05;
  border: 2px solid black;
  height: 100%;
  padding-left: 20px;
}

section.PL .langs .lang-card .cont-card ul li {
  list-style-image: url("./lightning.svg");
}

section.SK {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

.PI-right {
  display: -ms-grid;
  display: grid;
  background: red;
  -ms-grid-rows: 0fr 5fr 1fr;
      grid-template-rows: 0fr 5fr 1fr;
}

.PI-right ~ {
  border: 1px solid black;
}

@-webkit-keyframes cardSwitch {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    z-index: -2;
  }
  100% {
    -webkit-transform: translate(-30px);
            transform: translate(-30px);
  }
}

@keyframes cardSwitch {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    z-index: -2;
  }
  100% {
    -webkit-transform: translate(-30px);
            transform: translate(-30px);
  }
}
/*# sourceMappingURL=body-style.css.map */