// @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');
:root{
    --border-color:rgb(66, 164, 209);
}
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&family=Lato:ital,wght@0,300;1,300&display=swap');


@mixin list() {
    &:nth-child(1){
        background:url("./mail.svg") no-repeat left -1px;
        padding-left: 30px;


    }
    &:nth-child(2){
        background:url("./smartphone.svg") no-repeat left -1px;
        padding-left: 30px;

    }
    &:nth-child(3){
        background: url("./home.svg") no-repeat left -1px;
        padding-left: 30px;
    }
    &:nth-child(4){
        background:url("./github-alt-brands.svg") no-repeat left -1px;
        padding-left: 30px;
    }
}

@mixin border(){
    .top-l{
        position: absolute;
        top: 10%;
        left: 0;
        height: 10px;
        width: 25%;
        background:var(--border-color);
    }
    .top-r{
        position: absolute;
        top: 10%;
        right:0;
        height: 10px;
        width: 25%;
        background:var(--border-color);
    }
    .bottom-l{

        position: absolute;
        bottom: 10%;
        left: 0;
        height: 10px;
        width: 25%;
        background:var(--border-color);
        

    }
    .bottom-r{
        position: absolute;
        bottom: 10%;
        right: 0;
        height: 10px;
        width: 25%;
        background:var(--border-color);
        


    }
    .right{
        position: absolute;
        height:80%;
        top:10%;
        right:0;
        width: 10px;
        background:var(--border-color);

    }
    .left{
        position: absolute;
        height:80%;
        top:10%;
        left:0;
        width: 10px;
        background:var(--border-color);
    }
}



body{
    background-image: linear-gradient(
        (to top right, 
        #fff1eb 0%, 
        #ace0f9 80%, 
        #4facfe 100%));
}





.body{
    z-index: -1;
    position: relative;
    top: 6vh;
    font-family: 'Assistant', sans-serif;
    width: 85%;
    margin: auto;
    display:flex;
    flex-direction: column;
    
}

// 
section{
    margin: 20px 0 20px 0;
    height: 100vh;
    z-index: 1;
    border:2px solid black;
    &.PI{
    background: linear-gradient((
        to right bottom,
     rgba(255,255,255, 0.7),
      rgba(255,255,255,0.3)));
      border-radius: 1%;
    height: 100vh;
    display: flex;
    flex-direction: column;



}
    
}


// =================
//   INTRODUCTION
// =================

.intro{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    flex:5;
    h1{
        font-size: 48px;
        font-weight: 700px;
        color: rgba(52, 128, 190, 0.7);
        margin-top: 5%;
        span{
            width:100%;
            color:rgb(39, 98, 146);
            font-size:72px;

        }
    }
    h3{
       font-size: 24px;
       font-weight: 500;
    }
    h6, p{
        font-weight: 300;
        font-size: 20px;
    }
    hr{
        width:50%;
        height: 5px;
        background: rgba(70, 187, 241, 0.5);
        border: none;
        margin-bottom: 10px;
    }
}



.grids{
    display: flex;
    flex:3;
    width: 90%;
    margin: auto;
    border: 3px solid black;

.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 25%;
    margin: auto auto 50px auto;
     border-radius: 5%;
    // z-index:-2; Add this when we add a scroll event. As they scroll down, the z-index transitions to
    h1{
        color: white;
        margin: 10% 0 2% 0;
    }
    ul{
        // display: flex;
        // padding-left:0;
        height: 10vh;
        width: 70%;
        // margin-bottom: 30px;
        // border-radius: 50%;
        //align-items:flex-start;
        font-size: 15px;
        li{
            margin: 10px 0 10px 0;
            // padding-bottom: 3px;
            // margin-bottom: 3px;
            color:black;
            a{
                text-decoration: none;
            }
        }
    }
}
.grid:nth-of-type(1){
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        border: rgba(255, 255, 255, 0.233) solid 2px;
    ul{
        display: flex;
        padding-left:  0;
        height: 10vh;
        width: 70%;
        margin-bottom: 30px;
        border-radius: 50%;
        align-items:flex-start;
        li{
            @include list();
        }
    }
}
.grid:nth-of-type(2){
    background-image:linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        ul{
        
            li{
                list-style-type: disc;
            }
    }
}
.grid:nth-of-type(3)
{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
}

// ======================
//      EDUCATION
// ======================



section.ED{
    height: 100vh;
    .intro{
        width: 50%;
        background: linear-gradient((
            to right bottom,
         rgba(255,255,255, 0.7),
          rgba(255,255,255,0.3)));
          border-radius: 3%;
        height: 25%;
        padding:0;
        h1{
             text-align: center;
        }
    }
    .border{
        position: relative;
        width: 100%;
        height:100%;
        
        @include border();
    }
}

// ======================
// PROGRAMMING LANGUAGES
// ======================


section.PL{
    display: flex;
    z-index: 3;
    flex-direction: column;
    background: linear-gradient((
        to right bottom,
     rgba(255,255,255, 0.7),
      rgba(255,255,255,0.3)));


      .intro{
        width: 80%;
        margin: auto;
        flex:2;
        align-items: center;
      }
      .langs{
        display: flex; 
        position: relative;
        flex: 8;
        margin: 30px auto auto auto;
        width: 100%;
        justify-content: space-around;
        flex-wrap:wrap;
          .lang-card{
              display: flex;
              margin: 20px;
              position: relative;
              height: 35%;
              width: 25%;
              background: linear-gradient((
                to right bottom,
             rgba(255,255,255, .8),
              rgba(255,255,255, .9)));
              align-items: center;
              justify-content: center;
              h3{
                  font-size: 34px;
                  color:rgb(39, 98, 146);     
              }

              .cont-card{
                  position:absolute;
                //   display: none;
                  top: 15px;
                  left: 15px;
                  z-index: -3;
                  height: 100%;
                  width: 100%;
                  background-color: rgba(15, 43, 168, 0.2);
                  
                  ul{
                      //!!Comment to reveal cards
                       opacity: 0.05;
                      border: 2px solid black;
                      height: 100%;
                      padding-left: 20px;

                      li{
                       
                        list-style-image: url("./lightning.svg") ;

                      }

                  }
              }
              &:hover{
                  
                  //animation: cardSwitch 1s;
              }
          }

          
          .lang-card .passive, .cont-card .passive{

                ul{


      }
          }
}
}
section.SK{
    background: linear-gradient((
        to right bottom,
     rgba(255,255,255, 0.7),
      rgba(255,255,255,0.3)));
}

// .PI-left{
    
    
//     grid-template-rows: 1fr .4fr 1fr;
//     h1{
//     font-size: 68px;
//     hr{
//         height: 2px;
//         width: 30%;
//     }
//     }
//     h2{
//         font-size: 50px;
//         letter-spacing: 2px;
//     }
//     h3{
//         font-size: 30px;
//     }
    
// }

.PI-right{
    display: grid;
    background: red;
    grid-template-rows: 0fr 5fr 1fr;
    &~ {
        border: 1px solid black;
    }


}

@keyframes cardSwitch {
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translateX(20px);
        transform: translateY(10px);
    }
    80%{
        z-index:-2;
    }
    100%{
        transform: translate(-30px);
    }
}