@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  min-height: 550vh;
}

.content {
  font-family: 'Montserrat', sans-serif;
  z-index: 5;
  position: fixed;
  top: 20%;
  left: 25px;
  -webkit-transition: left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content.hide {
  left: -15px;
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 20px;
  max-height: 100%;
  height: 60vh;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.circles::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  background-color: #cfcfcf;
  z-index: -1;
}

.progress {
  position: absolute;
  left: 50%;
  top: 0;
  width: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 00%;
  background-color: #53bdff;
  z-index: -1;
}

.circ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 50px;
  width: 50px;
  border: 3px solid white;
  background-color: #cfcfcf;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: background-color .5s linear;
  transition: background-color .5s linear;
  border-radius: 15%;
}

.circ.active {
  background-color: #53bdff;
}

.active {
  background-color: #53bdff;
}

.mini {
  position: relative;
  height: 30px;
  width: 30px;
  border: 2px solid white;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 15%;
  background: white;
}

ul {
  z-index: 5;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 55vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul li {
  list-style-type: none;
  -webkit-transition-property: font-size, color, font-weight, opacity;
  transition-property: font-size, color, font-weight, opacity;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
          transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 5;
}

ul li.inv {
  -webkit-transition: .6s linear opacity;
  transition: .6s linear opacity;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
  opacity: 0;
}

ul li.bold {
  opacity: 1;
  z-index: 2;
  font-size: 120%;
  font-weight: 700;
  color: blue;
}
/*# sourceMappingURL=style.css.map */